.side_bar

  .side_bar__name
    .side_bar__name__box
      .side_bar__name__box__user
        masa
      .side_bar__name__box__icon
      %ul.Icon-list

        %li
          = link_to "#" do
            = icon('far', 'edit',  class: "Icon-list__Icon")
        %li
          = link_to "#" do
            = icon('fas', 'cog',  class: "Icon-list__gear")
  .side_bar__bottom 
    .side_bar__bottom__group
      .side_bar__bottom__group__name 
        techcamp
      .side_bar__bottom__group__message
        まだメッセージはありません
    .side_bar__bottom__group
      .side_bar__bottom__group__name 
        techcamp
      .side_bar__bottom__group__message
        まだメッセージはありません